$main-bg: #fcf9f0;

$primary-btn: #d32827;
$secondary-btn: #231f20;

$text-dark: #231f20;
$text-light: #fff;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.25rem;
$h5: 1rem;

$display-1: 6rem;
$display-2: 5.5rem;
$display-3: 4.5rem;
$display-4: 3.5rem;

//adjust these to change layout size
$border-radius: 4px;
$max-width: 1080px;
$gap: 16px;

//math for layout variables
$gap-total: calc($gap * 2);
$gap-reducer: calc($max-width - $gap-total);
$item-width: calc($gap-reducer / 3);
$item-double: calc($item-width * 2);
$gallery-height: calc($item-double + $gap);
