$main-bg: rgb(252, 249, 240);

$primary-btn: #d32827;

$text-dark: #231f20;
$text-light: #fff;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.25rem;
$h5: 1rem;

$display-1: 6rem;
$display-2: 5.5rem;
$display-3: 4.5rem;
$display-4: 3.5rem;

$border-radius: 4px;
$max-width: 980px;
$gap: 16px;
$item-width: calc($max-width / 3 - $gap);
