@import "./_Variables";
@import "./_Mixins";

// Variables

$primary: rgb(255, 251, 243);
$secondary: rgb(255, 43, 43);
$alt: rgb(95, 172, 255);
$light: white;
$dark: rgb(20, 20, 20);

// Global Styles
* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  background-color: $main-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Utility Classes
.flex-column {
  display: flex;
  flex-direction: column;
}

main {
  width: $max-width;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
  .nav-links {
    display: flex;
    gap: 1rem;
    img {
      height: 2rem;
      opacity: 1;
      transition: 1s;
    }

    img:hover {
      opacity: 0.75;
    }
  }
}

// Gallery
.projects-gallery {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  .gallery-nav {
    display: flex;
    position: absolute;
    width: 1015px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    .gallery-nav-btn {
      color: $text-light;
      background-color: $text-dark;
      border: none;
      width: 2rem;
      aspect-ratio: 1/1;
      border-radius: 25px;
      pointer-events: all;
      opacity: 0.5;
    }
    .gallery-nav-active {
      background-color: $primary-btn;
      &:hover {
        opacity: 1;
      }
    }
  }
  .gallery-container {
    position: relative;
    display: grid;
    gap: 16px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    .gallery-item {
      width: calc(948px / 3);
      aspect-ratio: 1/1;
      overflow: hidden;
      scroll-snap-align: start;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s ease;
      }
      &:hover img {
        transform: scale(1.1);
        transition: transform 8s ease-out;
        transition-delay: 0.5s;
      }
    }
  }
  &:hover .gallery-nav {
    opacity: 1;
    transition: opacity 0.6s ease;
  }
}

.gallery-block {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: $text-dark;
  margin-top: 1rem;
  .block-resume {
    background-color: $primary-btn;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 1rem;
    button {
      background-color: $text-dark;
      border-radius: 75px;
      font-family: "Playfair";
      font-size: $h3;
      font-weight: 700;
      width: 100%;
      height: 100%;
      color: $text-light;
      border: none;
    }
  }
}
