@import "./_Variables";
@import "./_Mixins";

// Global Styles
* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  background-color: $main-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  width: calc(100vw - 60px);
  max-height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    .nav-burger {
      .burger-bar {
        width: 25px;
        height: 3px;
        background-color: $text-dark;
        margin: 5px;
        transition: 0.3s ease;
      }
      .bar-2 {
        background-color: $primary-btn;
      }
    }
    .nav-links {
      display: flex;
      gap: 1rem;
      img {
        height: 2rem;
        opacity: 1;
        transition: 1s;
      }

      img:hover {
        opacity: 0.75;
      }
      .about-link {
        text-decoration: none;
        color: $text-light;
        background-color: $text-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
        font-family: "Playfair";
        font-weight: 700;
        border-radius: 25px;
        transition: 0.3s ease;
        &:hover {
          background-color: $primary-btn;
          transition: opacity 0.3s ease;
        }
        &.active {
          background-color: $primary-btn;
          transition: 0.3s ease;
        }
      }
    }
  }
  .nav-btn-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .nav-page-link {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondary-btn;
      text-decoration: none;
      font-weight: 300;
      padding: 0.5rem 1rem;
      border: none;
      transition: 0.2s;

      transition: 0.3s ease;

      &.b2 {
        background-color: lighten($secondary-btn, 5%);
      }
      &.b3 {
        background-color: lighten($secondary-btn, 10%);
      }
      &.b4 {
        background-color: lighten($secondary-btn, 15%);
      }

      &:hover {
        background-color: $primary-btn;
        transition: 0.3s ease;
      }
      &.active {
        background-color: $primary-btn;
        transition: 0.3s ease;
      }

      .nav-link-text {
        color: $text-light;
        font-size: $h4;
      }
    }
  }
}

.nav-open {
  .bar-1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .bar-2 {
    opacity: 0;
  }
  .bar-3 {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}

.nav-burger {
  display: none;
}

//Mobile Nav

.mobile-nav-container {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 60px);
  height: 100%;
  top: 53px;
  z-index: 99;
  pointer-events: none;
  overflow: hidden;
  &.nav-open {
    pointer-events: all;
  }
}

.mobile-nav {
  width: 100%;
  background-color: $text-dark;
  transform: translateY(-100%);
  transition: 0.3s ease;
  &.nav-open {
    transform: translateY(0);
    transition: 0.3s ease;
    pointer-events: all;
  }
  .mobile-nav-buttons {
    @include center-flexbox();
    padding: 1rem 0;
    gap: 1rem;
    img {
      height: 2rem;
      opacity: 1;
      transition: 1s;
    }

    img:hover {
      opacity: 0.75;
    }
  }
  .mobile-nav-page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $secondary-btn;
    color: $text-light;
    font-size: $h4;
    font-weight: 300;
    padding: 0.5rem 1rem;
    border: none;
    transition: 0.2s;
    text-decoration: none;
    transition: 0.3s ease;

    &.b2 {
      background-color: lighten($secondary-btn, 5%);
    }
    &.b3 {
      background-color: lighten($secondary-btn, 10%);
    }
    &.b4 {
      background-color: lighten($secondary-btn, 15%);
    }

    &:hover {
      background-color: $primary-btn;
      transition: 0.3s ease;
    }
    &.active {
      background-color: $primary-btn;
      transition: 0.3s ease;
    }
  }
}

// Gallery

.projects {
  @include spread-flexbox(column);
  max-height: calc(100vh - 168px);
  height: 100%;
  flex: 1;
}

.projects-gallery-container {
  position: relative;
  @include center-flexbox(column);
  overflow: hidden;
  max-height: $gallery-height;
  height: 100%;
  width: 100%;
  min-height: 0;
  flex: 1;

  &:hover .gallery-nav {
    opacity: 1;
    transition: opacity 0.6s ease;
  }
  .gallery-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    padding: 0.5rem 0;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    &.show-active {
      display: none;
    }
    .gallery-nav-btn {
      @include center-flexbox();
      color: $text-light;
      background-color: $text-dark;
      border: none;
      width: 2rem;
      aspect-ratio: 1/1;
      border-radius: 25px;
      pointer-events: all;
      opacity: 0.5;
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      font-size: $h4;
      text-align: center;
    }
    .gallery-nav-active {
      background-color: $primary-btn;
      &:hover {
        opacity: 1;
      }
    }
  }
  .projects-gallery {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: $gallery-height;
    min-height: 0;
    flex-shrink: 1;
    position: relative;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    // scrollbar styles
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .gallery-container {
      grid-template-columns: 1fr 1fr 1fr;
      .gallery-item {
        aspect-ratio: 1/1;
        max-width: $item-width;
        .gallery-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    // .web-gallery-container {
    //   grid-template-columns: 1fr;
    //   width: 100%;
    //   .web-gallery-item {
    //     max-height: calc($item-width - 75px);
    //     max-width: $max-width;
    //     width: 100%;
    //     height: 100%;
    //     .web-img {
    //       object-fit: cover;
    //       width: 100%;
    //       height: 100%;
    //     }
    //   }
    // }

    .web-gallery-container {
      grid-template-columns: 1fr 1fr;
      .web-gallery-item {
        aspect-ratio: 16/9;
        max-width: calc($max-width / 2 - 8px);
        position: relative;
        overflow: hidden;
        .web-item-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.75);
          color: $text-light;
          padding: 1rem;
          gap: 1rem;
          transform: translateY(100%);
          transition: 0.2s ease-in-out;

          &.web-info-active {
            display: flex;
            transform: translateY(0);
            transition: 0.75s ease-in-out;
          }
        }
        .web-item-bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 4px 8px;
          z-index: 3;
          .web-info-icon {
            width: 2rem;
            height: 2rem;
            .web-info-fill {
              fill: $text-light;
            }
            &:hover {
              .web-info-fill {
                fill: $primary-btn;
              }
            }
          }
        }
        .web-item-top {
          @include spread-flexbox();
          width: 100%;
          background-color: rgba(255, 255, 255, 0.769);
          padding: 4px 8px;
          color: $text-dark;
          z-index: 3;
          .web-git-link {
            width: 2rem;
            height: 2rem;
            top: 0.25rem;
            right: 0.25rem;
            .git-icon {
              width: 100%;
              height: 100%;
              .git-icon-fill {
                fill: $text-dark;
              }
              &:hover {
                .git-icon-fill {
                  fill: $primary-btn;
                }
              }
            }
          }
        }

        .web-gallery-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .gallery-container,
    .web-gallery-container {
      position: relative;
      display: grid;
      gap: 16px;
      max-height: $gallery-height;
      min-height: 0;
      flex: 1;
      height: 100%;
      .gallery-item {
        display: flex;
        overflow: hidden;
        scroll-snap-align: start;
        img {
          transition: transform 0.2s ease;
        }
        &:hover img {
          transform: scale(1.1);
          transition: transform 8s ease-out;
          transition-delay: 0.5s;
        }
      }
    }
  }
}

.show-card-container {
  display: flex;
  background-color: $main-bg;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 1;
  z-index: 2;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;

  &.active {
    transform: scaleY(1);
    opacity: 1;
    transition: 0.75s ease-in-out;
    transform: translateY(0%);
  }
  .show-card-close {
    @include center-flexbox();
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    aspect-ratio: 1/1;
    width: 2rem;
    top: 1.25rem;
    right: 0.25rem;

    color: $text-light;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: $primary-btn;
      transition: 0.3s ease;
    }
  }
  .show-card {
    width: 100%;
    height: 100%;
    transition: 0.75s ease-in-out;
    .show-card-top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-bottom: solid 2px $text-dark;
      border-top: solid 2px $text-dark;
      padding: 1rem 0;
      .show-card-image-container {
        width: 100%;
        aspect-ratio: 16/9;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .show-card-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 1rem;
        width: 100%;
        .show-card-body-title {
          font-size: $h1;
          font-weight: 700;
          span {
            color: $primary-btn;
          }
        }
        .show-card-body-text {
          line-height: 1.5rem;
        }
        .show-card-body-tech {
          font-style: italic;
        }
      }
    }
  }
}

.gallery-block {
  display: flex;
  max-width: $max-width;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  position: relative;
  .block-info-container {
    .block-text-container {
      display: flex;
      position: relative;
      height: 100%;
      .block-text {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 0.5rem;
        color: $text-light;
        background-color: $text-dark;
        padding: 1rem 1.25rem;
        pointer-events: none;
        p {
          line-height: 1.45rem;
        }
      }
    }
  }

  .about-block-info-container {
    .about-block-text-container {
      display: flex;
      position: relative;
      height: 100%;
      .about-block-text {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 0.5rem;
        color: $text-light;
        background-color: $text-dark;
        padding: 1rem 1.25rem;
        p {
          line-height: 1.45rem;
        }
      }
    }
  }

  .block-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-btn;
    min-height: 161px;
    flex: 1;
    max-height: 100%;
    aspect-ratio: 1/1;
    padding: 1rem;
    position: relative;

    .resume-button {
      @include center-flexbox();
      background-color: $text-dark;
      border-radius: 75px;
      font-family: "Playfair";
      font-size: $h3;
      font-weight: 700;
      width: 100%;
      color: $text-light;
      border: none;
      aspect-ratio: 1/1;
    }
  }
}

.info-button-container {
  @include center-flexbox();
  display: none;
  width: 100%;
  left: 0;
  top: -28px;
  .info-button {
    @include center-flexbox();
    background-color: $primary-btn;
    height: 28px;
    width: 35px;
    border-radius: 0 0 25px 25px;
    border: none;
  }
}

//About

.about-container {
  .gallery-block {
    margin: 0;
  }
}

.about {
  .self {
    display: flex;
    max-width: 400px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//footer

footer {
  padding: 0.5rem 0;
}

//media container

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

video,
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 8px; /* Optional: Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow */
}

@media (max-width: 1120px) {
  .show-card-container {
    .show-card-close {
      top: 0.25rem;
      right: 0.25rem;
    }
    .show-card {
      overflow-y: scroll;
      overflow-x: hidden;

      .show-card-top {
        grid-template-columns: 1fr;
        border-top: none;
        gap: 1rem;
        padding-top: 0;
      }
    }
  }

  .projects-gallery-container {
    .projects-gallery {
      .web-gallery-container {
        gap: 8px;
      }
    }
  }
}

@media (max-width: 720px) {
  .nav {
    .nav-container {
      padding: 0.5rem 0;
      .nav-right {
        display: none;
      }
    }
  }

  .mobile-nav-container {
    display: flex;
  }

  .nav-logotype {
    height: 30px;
  }

  .nav-burger {
    display: block;
  }
  #b1,
  #b2,
  #b3,
  #b4 {
    pointer-events: none;
    padding: 0;
    height: 4px;
  }
  .nav-link-text {
    display: none;
  }

  .mobile-nav-page-link {
    &.b1 {
      background-color: lighten($secondary-btn, 5%);
    }
    &.b2 {
      background-color: lighten($secondary-btn, 10%);
    }
    &.b3 {
      background-color: lighten($secondary-btn, 15%);
    }
    &.b4 {
      background-color: lighten($secondary-btn, 20%);
    }
  }

  .projects-gallery-container {
    .projects-gallery {
      .gallery-container {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .projects-gallery-container {
    .projects-gallery {
      .web-gallery-container {
        grid-template-columns: 1fr;
        gap: 8px;
        .web-gallery-item {
          aspect-ratio: 16/9;
          max-width: $max-width;
          .gallery-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (max-width: 635px) {
  main {
    width: calc(100vw - 24px);
  }
  .mobile-nav-container {
    width: calc(100vw - 24px);
  }
  .projects-gallery-container {
    .gallery-nav {
      display: none;
    }
    .projects-gallery {
      .gallery-container {
        gap: 8px;
      }
    }
  }

  .gallery-block {
    flex-direction: column;
    .block-info-container {
      position: fixed;
      flex-direction: column;
      align-items: center;
      width: calc(100% - 24px);
      top: 53px;
      z-index: 98;
      overflow: hidden;
      pointer-events: none;
      .block-text-container {
        display: block;
        transform: translateY(calc(-100% + 28px));
        transition: 0.3s ease;
        pointer-events: all;
        &.info-active {
          transform: translateY(0);
          transition: 0.3s ease;
        }
        .block-text {
          pointer-events: all;
        }
        .info-button-container {
          display: flex;
          pointer-events: all;
        }
      }
    }

    .block-resume {
      min-height: 0px;
      height: auto;
      aspect-ratio: auto;
      padding: 8px;
      order: 2;
      .resume-button {
        background-color: rgba(0, 0, 0, 0);
        aspect-ratio: auto;
      }
    }
  }

  .mobile-block-bg {
    display: none;
    position: absolute;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &.info-active {
      display: flex;
    }
  }
}
