:root {
  /*  color scheme */
  --primary: rgb(255, 251, 243);
  --secondary: rgb(255, 43, 43);
  --alt: rgb(95, 172, 255);
  --light: white;
  --dark: rgb(20, 20, 20);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(28, 43, 60);
}

.flex-column {
  display: flex;
  flex-direction: column;
}
